/*importing font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*main css*/
body {
  font-family: 'Inter', arial;
  background-color: #231826;
  overflow-x: hidden;
  color: #ffbad2;
}

header nav ul li {
  list-style: none;
  font-size: larger;

  margin-bottom: 15px;
  padding-top: 15px;

}

header nav ul li a {
  color:#ffbad2;
  text-decoration: none;
}

header nav ul li a:hover {
  color:deeppink;
}

footer {
  position: absolute;
  margin-left: 35px;
  width: 100%;
  bottom: 0px;
}

#navcontainer {
  position: absolute;
  top:0;
  bottom:0;
  height: 100%;
  left:0;
  background-color: #050505;
  width:175px;
}

/*testing*/

.container {
  padding-left: 200px;
  width: 500px;
}

.blogp {
  padding-left: 15px;
}

#welcome {
  padding-left: 200px;
}