/*importing font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*main css*/
body {
  font-family: 'Inter', arial;
  background-color:#050505;
  height:720px;
  color: #ffbad2;
}


header nav ul {
  display: flex;
  justify-content: start;
  align-items:center;
  font-size: large;
}

header nav ul li {
  list-style: none;
  text-decoration: underline;
  margin-left: 20px;
  margin-left: 20px;
}

header nav ul li:nth-child(1) {
  margin-left: 0;
}

header nav ul li a {
  color:#ffbad2;
  text-decoration: none;
}

header nav ul li a:hover {
  color:deeppink;
}

footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/*home page*/

#recent {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  max-width: 500px;
  padding: 5px;
}

/*recent videos*/

#video1text {
  margin-left: 95px;
  text-decoration: underline;
}

#video2text {
  margin:0px;
  text-decoration: underline;
  position:relative;
  left: 390px;
  bottom: 23px;
}

#video2 {
  margin-left: 20px;
}

.videoborder {
  border: 3px solid #ffbad2;
}

#wip {
  padding-top: 30px;
}